body {
    background-color: #f5e6e6; /* Fondo rosa pastel */
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #ff8b8b; /* Título en tono rosa pastel más oscuro */
}

button {
    background-color: #ff8b8b; /* Botón en tono rosa pastel más oscuro */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff6a6a; /* Cambia el color del botón al pasar el cursor */
}

#cat-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Agrega una sombra a la imagen */
}
